{
  "swagger" : "2.0",
  "info" : {
    "description" : "SimpleTestApi Description new updated description",
    "version" : "1.1",
    "title" : "SimpleTestApi",
    "contact" : {
      "email" : "gpopov2@gmail.com"
    }
  },
  "host" : "sandbox.esignlive.com",
  "basePath" : "/",
  "schemes" : [ "https" ],
  "paths" : {
    "/auth" : {
      "post" : {
        "tags" : [ "login" ],
        "summary" : "Authenticate",
        "operationId" : "auth",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Pet object that needs to be added to the store",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/body"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful authentication",
            "schema" : {
              "type" : "object",
              "properties" : {
                "sessionToken" : {
                  "type" : "string",
                  "example" : "2bc22770450ecfda1b2d26b52b17eae2f188e25416829b28"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized Access"
          }
        }
      }
    }
  },
  "definitions" : {
    "inline_response_200" : {
      "properties" : {
        "sessionToken" : {
          "type" : "string",
          "example" : "2bc22770450ecfda1b2d26b52b17eae2f188e25416829b28"
        }
      },
      "example" : {
        "sessionToken" : "2bc22770450ecfda1b2d26b52b17eae2f188e25416829b28"
      }
    },
    "body" : {
      "type" : "object",
      "properties" : {
        "email" : {
          "type" : "string",
          "example" : "your@email.com"
        },
        "password" : {
          "type" : "string",
          "example" : "yourpassword"
        }
      }
    }
  }
}